<h1>Ejercicio 38</h1>
<hr>


<div class="container">
    <form (ngSubmit)="save()" #forma="ngForm">
        <div class="row">
            <div class="col-5">
                <label for="fname" class="lbl">Nombre Completo</label>
            </div>
            <div>
                <input type="text" 
                id="fname" 
                placeholder="Nombre Completo" 
                class="txtbox" 
                name="nombre" 
                [(ngModel)]="persona.nombre" 
                required 
                minlength="4" 
                #nombre="ngModel" 
                [class.is-invalid]="nombre.invalid && nombre.touched" 
                pattern="^[a-zA-zñÑ\s]+$">
                <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
                    Ingrese mas de 3 letras
                </small>
            </div>
        </div>
        
        <br>

        <div class="row">
            <div class="col-5">
                <label for="direction" class="lbl">Dirección de Correo Electrónico</label>
            </div>
            <div>
                <input type="text" 
                id="direction" 
                placeholder="Correo Electronico" 
                class="txtbox" 
                name="correo" 
                [(ngModel)]="persona.correo" 
                required 
                #correo="ngModel" 
                [class.is-invalid]="correo.invalid && correo.touched" 
                pattern="^(([^<>()\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$">
                <small class="text-danger" *ngIf="correo.invalid && correo.touched">
                    Ingrese una Dirección Válida
                </small>
            </div>
        </div>


        <div class="selection" >
                <input 
                type="checkbox" 
                id="check" 
                name="accept"
                ngModel
                #accept="ngModel" 
                required>
            <label for="check">Acepta los términos y condiciones</label>
        </div>


        <div class="row">
            <div class="alinea-btn">
                <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button>
            </div>
        </div>
    </form>
</div>
    
